@model CenterRegisterCard.Domain.ViewModels.Account.ForgotPasswordViewModels;

@{
    Layout = "_Layout";
    ViewBag.Title = "Забыл пароль";
}

<div style="padding: 20px;"></div>

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <span class="anchor"></span>
                    <div class="card card-account card-outline-secondary border border-white">
                        <div class="card-header">
                            <h3 class="mb-0 text-center paragraphHome text-black">Введите почту</h3>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                            {
                                @*@Html.LabelFor(m => m.Email)*@
                                @Html.TextBoxFor(m => m.Email)
                                @Html.ValidationMessageFor(m => m.Email)
                                <br />
                                <button type="submit">Отправить</button>
                            }
                            <form asp-controller="Account" asp-action="PINcodeActivate">
                                <div class="form-group">
                                    <input autocomplete="new-password" asp-for="PINcode" placeholder="Пароль" class="form-control textbox-dg font-weight-bold text-center" type="password">
                                </div>
                                <button class="btn btn-success btn-lg float-right" type="submit">Отправить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>