<!DOCTYPE html>
<html>
<head>
    @{
        ViewData["Title"] = "О нас";
    }
    <meta charset="UTF-8">
    <title>Регистр социальных карт - О нас</title>
    <style>
        /*body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        h1 {
            color: #333;
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            color: #666;
            font-size: 16px;
            line-height: 1.5;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
        }*/
    </style>
</head>
<body>
    <div class="container">
        <h1>О нас</h1>
        <p>Центральный регистр карт - это онлайн-сервис, предназначенный для регистрации и управления социальными картами.</p>
        <p>Мы стремимся облегчить доступ к социальным услугам и льготам, предоставляемым нашими партнерами, путем централизованной системы учета и контроля социальных карт.</p>
        <p>Наши главные принципы:</p>
        <ul>
            <li>Повышение доступности социальных услуг для нуждающихся;</li>
            <li>Упрощение процесса регистрации и получения социальных карт;</li>
            <li>Обеспечение безопасности и конфиденциальности персональных данных;</li>
            <li>Эффективное взаимодействие между пользователями и организациями, предоставляющими социальные услуги.</li>
        </ul>
        <p>Свяжитесь с нами, если у вас есть вопросы или предложения. Мы всегда готовы помочь вам!</p>
        <p>Контактная информация:</p>
        <ul>
            <li>Email: centerregistercard@mail.ru</li>
            <li>Телефон: +7 927 341 5527</li>
            <li>Адрес: г. Уфа, ул. Героя зорина, 123</li>
        </ul>
    </div>
</body>
</html>
