* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


.container_logo {
    display: block;
    align-items: center
}

.container_img {
    width: 10%;
}

.container_img img {
    width: 100%;
}

.slider {
    padding: 30px;
    width: 80%;
    margin: 0 auto;
}


/* формы входа*/
.form_center {
    width: 50%;
    margin: 0 auto;
}

.form_center h5 {
    text-align: center;
    padding: 30px;
}

.form_center button {
    width: 30%;
    margin-left: 35%;
}

.form-text {
    padding: 5px;
    text-align: center;
}



/* стили личного кабинета */
.container {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.container_img_pers {
    width: 70%;
}

.ul_left li,
.ul_right li,
.ul_right {
    margin-bottom: 20px;
}

.ul_left button {
    margin-bottom: 0px !important;
}

.ul_left {
    margin-top: 20px;
}


.container_img_pers img {
    width: 100%;
}


/* карточки мероприятий */
.cards {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin-bottom: 30px;
}


/* стили для страницы полного описания мероприятия */

.container_event{
    padding: 30px;
    margin-left: 10%;
    width: 60%;
}
.container_img_40{
    width: 100%;

}

.container_img_40 img{
    width: 100%;
}